<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/static/commons/js/cdn/bootstrap-3.3.7/bootstrap.min.css" />
<link rel="stylesheet" href="/static/commons/js/cdn/bootstrap-table-1.11.1/bootstrap-table.min.css" />
<link rel="stylesheet" href="/static/commons/js/cdn/bootstrap-treeview/bootstrap-treeview.min.css" />
<link rel="stylesheet" href="/static/commons/js/cdn/jquery-treegrid/jquery.treegrid.min.css" />
<link rel="stylesheet" href="/static/commons/js/cdn/font-awesome-4.7.0/font-awesome.min.css" />
<link rel="stylesheet" href="/static/commons/js/cdn/ionicons-2.0.1/ionicons.min.css" />
<link rel="stylesheet" href="/static/assets/adminlte-2.3.7/css/AdminLTE.min.css" />
<link rel="stylesheet" href="/static/assets/adminlte-2.3.7/css/skins/_all-skins.min.css" />
<link rel="stylesheet" href="/static/css/app.css" />
<!--[if lt IE 9]>
<script src="/static/commons/js/cdn/html5shiv-3.7.3/html5shiv.min.js"></script>
<script src="/static/commons/js/cdn/respond-1.4.2/respond.min.js"></script>
<![endif]-->
<style type="text/css">
    body{
        background:transparent;
    }
</style>
