<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<title>通信网主动防御系统</title>
	<link href="/static/css/google-api-fonts.css" rel="stylesheet" type="text/css"></link>
	<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png"></link>
	<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png"></link>
	<link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png"></link>
	<link rel="stylesheet" href="/static/css/vendor-316e76b5c0.css"></link>
	<link rel="stylesheet" href="/static/css/auth-3908bb18e6.css"></link>
</head>
<body>
	<main class="auth-main">
		<div class="auth-block" style="width: 800px;">
			<h1>软件定义拟态网关系统</h1>
			<form class="form-horizontal" action="/console/login" method="post">
				<h5 class="box-title" style="color: red;" th:text="${#strings.isEmpty(message)?'':message}"></h5>
				<div class="form-group">
					<label for="username" class="col-sm-2 control-label">用户名</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="username"  name="username" placeholder="用户名" required=""></input>
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-sm-2 control-label">密&nbsp&nbsp&nbsp&nbsp码</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="password" name="password" placeholder="密码" required=""></input>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default btn-auth">登录</button>
						<!--<a href="/member/reg" class="forgot-pass">注册</a>-->
					</div>
				</div>
			</form>
			<!--<div class="auth-sep">
				<span>
					<span>or Sign in with one click</span>
				</span>
			</div>-->
			<!--<div class="al-share-auth">
				<ul class="al-share clearfix"><li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li><li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li><li><i class="socicon socicon-google" title="Share on Google Plus"></i></li></ul>
			</div>-->
		</div>
	</main>
<script src="/static/js/vendor-65ff2a3b75.js"></script>
<script type="text/javascript" color="255,192,203" opacity="0.9" zindex="-1" count="400" src="/static/js/canvas-nest.min.js"></script>
	<script type="text/javascript" src="/static/commons/js/cdn/jquery/jquery.mim.js"></script>
	<script type="text/javascript" src="/static/commons/include.web.ui.js?dm=10"></script>
	<script >
        baseTools2.delCookie("WEBID");
        $(function () {
            if (top.location !== location) {
                top.location.href = self.location.href;
            }
        });
	</script>
</body>
</html>
