<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="console/header">
</head>
<body>
<section class="content-header">
    <h1>交换机信息</h1>
    <!--<small>列表管理</small>-->
</section>
<section class="content table-content">
    <div id="toolbar">
        <button  type="button" class="btn  btn-primary" onclick="SwitchesIndex.toDetails()">
            查看
        </button>
    </div>
    <table id="dataGrid"></table>
</section>

<div th:include="console/footer"></div>
<script type="text/javascript" src="/static/commons/include.web.ui.js?dm=1018"></script>
</body>
<script type="text/javascript">

</script>
</html>