<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
<section class="content">
    <div class="row">
        <div class="col-md-12"><!-- <div class="col-md-6 col-md-offset-3">-->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title" >Mtd配置</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal" name="balckForm" id="balckForm" role="form">
                        <div class="box-header with-border">
                            <h3 class="box-title" ><strong>>黑名单配置</strong></h3>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">开启黑名单</label>

                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input type="radio" name="isUseBlackList" id="isUseBlackList1" checked="checked" value="1" check-type="group">启用
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="isUseBlackList" id="isUseBlackList2" value="0" check-type="group">禁用
                                </label>
                            </div>
                        </div>
                        <div id="blackDiv">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                    <table id="blackTable" class="table table-bordered text-nowrap">
                                        <thead>
                                        <tr>
                                            <th>黑名单ip</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><input type="text" class="form-control" name="blackListIp"  placeholder="ip地址，如192.168.1.1"></td>
                                            <td class="do_work"><i class="fa fa-plus" style="cursor:pointer;padding: 10px;" title="添加一条"
                                                                   onclick="onAddRow(this);"></i>&nbsp;&nbsp;
                                                <i class="fa fa-times" style="cursor:pointer;padding: 10px;" title="删除一条"
                                                   onclick="onDelRow(this);"></i>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-header with-border">
                            <h3 class="box-title" ><strong>>蜜罐配置</strong></h3>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                            <table id="mGTable" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>蜜罐ip</th>
                                    <th>蜜罐服务器mac地址</th>
                                    <th>蜜罐服务器gateway地址</th>
                                    <th>蜜罐所接交换机端口</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" name="honeypotIp"  placeholder="ip地址，如192.168.1.1"></td>
                                    <td><input type="text" class="form-control" name="honeypotMac"  placeholder="mac地址"></td>
                                    <td><input type="text" class="form-control" name="honeypotGateway"  placeholder="gateway地址"></td>
                                    <td>
                                       <!-- <select id="honeypotSwitchPort" name="honeypotSwitchPort"  >
                                        <option value=''>请选择交换机</option>
                                        </select>-->
                                          <select id="switch" name="honeypotSwitchPort" class="form-control input-sm">
                                               <!-- <option value=''>请选择交换机</option>-->
                                           </select>
                                    </td>
                                    <td class="do_work"><i class="fa fa-plus" style="cursor:pointer;padding: 10px;" title="添加一条"
                                                           onclick="onAddRow(this);"></i>&nbsp;&nbsp;
                                        <i class="fa fa-times" style="cursor:pointer;padding: 10px;" title="删除一条"
                                           onclick="onDelRow(this);"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="console/footer"></div>
<script type="text/javascript" src="/static/commons/include.web.ui.js?dm=1019"></script>
<script type="text/javascript">

    $(document).ready(function () {
        loadSwitch();
    });
    function loadSwitch() {
        var jqBd = $("#switch");
        if (jqBd.size() === 0) {
            return false;
        }
        baseTools2.ajaxGet({
            bShow:false,
            url: "/functionView/switches/switchPortBySwitchId",
            callback: [function (jsonObj) {
                if (jsonObj.status === 1) {
                    jqBd.html("");
                    var data = jsonObj.result.switchPortList;
                    var content = ["<option value=''>请选交换机端口</option>"];
//                    for (var og in data) {
//                        content.push("<optgroup label='" + og + "'>");
                    for (var i = 0; i < data.length; i++) {
//                        if (data[i].switchesId == obj) {
//                            content.push("<option selected='selected' value='" + data[i].switchesId + "'>" +
//                                    data[i].switchesName + "</option>");
//                        } else {
                            content.push("<option  value='" + data[i].id + "'>" +
                                    data[i].id + "</option>");
//                        }
                    }
//                        content.push("</optgroup>");

//                    }
                    jqBd.append(content.join(""));
//                    if(index==1){//先判断是数据回显还是，自己选择的
////                        loadSeries(obj,'1');
//                    }
//                } else
//                    alert(jsonObj.msg);
                }
            }]
        });
    }


    function onAddRow(obj) {
        var trObj = obj.parentNode.parentNode,
            tbody = trObj.parentNode,
            tabObj = tbody.parentNode;
        tbody.insertRow(trObj.rowIndex).innerHTML = tbody.rows[0].innerHTML
            .replace("baseValid-error", "");
    }

    function onDelRow(obj) {
        var tr = obj.parentNode.parentNode,
            tbody = tr.parentNode;
        if (tr.rowIndex === 1) {
            layer.alert('不允许删除!', {icon: 6});
            return;
        }
        layer.confirm('确定删除吗?', function(){
            tbody.removeChild(tr);
            layer.closeAll();
        });
    }
    //是否开启mtd配置按钮
    $("input[name='isUseBlackList']").change(
        function() {
            var id = $("input[name='isUseBlackList']:checked").val();
            if (id == 1) {
                $("#blackDiv").show();
            }else if (id == 0){
                $("#blackDiv").hide();
            }
        });
</script>
</body>

</html>
<style type="text/css">
    .form-horizontal .control-label{
        text-align:left;
    }
</style>