<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geekcattle.mapper.UserTestMapper" >
  <resultMap id="BaseResultMap" type="com.geekcattle.model.UserTest" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <!--根据用户名获取用户信息-->
  <select id="selectByUsername" parameterType="String" resultMap="BaseResultMap">
    select *  from admin where username = #{uername};
  </select>
</mapper>