<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户注册</title>
    <meta name="Content-Type" content="text/html; charset=UTF-8" />
    <!--  <meta http-equiv="refresh" content="10" /> -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" tppabs="/static/css/style.css" />
    <link rel="stylesheet" href="/static/assets/adminlte-2.3.7/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="/static/assets/adminlte-2.3.7/css/skins/_all-skins.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/topology.css"/>
   	<style type="text/css">	
		body,main::before{
		   background:url(/static/img/blur-bg.jpg) 0 / cover fixed;
		}
		
		main{
		   position:relative;
		   margin-left:150px;
		   margin-top:50px;
		   margin-bottom:50px;
		   width:1100px;
		   height:700px;
		   background:hsla(0,0%,100%,.3);
		   /*background:white;*/
   	       overflow:hidden;
       	   box-shadow: 3px 3px 5px #222222
		}
		
		main::before {
		   content:'';
		   position:absolute;
		   top:0;right:0;bottom:0;left:0;
		   filter:blur(10px);
		   margin:-30px;
		}

   	</style>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/additional-methods.min.js"></script>
    <script src="/static/js/jquery.form.min.js"></script>
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/d3.v3.min.js"></script>
    <script src="/static/js/topology.js"></script>
    var loading;
       <script type="text/javascript">
           loading = layer.load(0, {shade: 0.5});
           var maskObj;
        $().ready(initTopology);
    	var tag = window.sessionStorage.getItem("tag");
    	if (tag==1)
        	setInterval('initTopology()',10000); //每10秒刷新一次页面下边显示的数据
        function initTopology(){
        	$.ajax({
        		type:"get",
        		url:"/admin/function/topologyData",
        		dataType:'json',
                beforeSend: function (arr, $form, options) {
//        		    console.log("数据：："+tag);
//        		    if(1!=tag)
//                   maskObj = layer.load(0, {shade: 0.1});
                },
        		async:true,//异步请求
        		success:function(data){
        			var topology=new Topology('topology_svg');
        			var nodeInfo = d3.select("#nodeInfo");
        			var linkInfo = d3.select("#linkInfo");
        			topology.mouseoverLinkHandler = function(d) {
        			  linkInfo
        			  .style("display", "block")
        			  .style("width","300px")
       			      .style("left", function(){
        					var position_source = window.sessionStorage.getItem(d.source.id);
        					var position_target = window.sessionStorage.getItem(d.target.id);
      						/*<![CDATA[*/   //这句话不是注释，作用是thymeleaf不能解析&&,因此需要加上这句话
          					if(position_source != null && position_target != null)
          					{
          						var dot_source = position_source.indexOf(",");
          						var dot_target = position_target.indexOf(",");

          						if(dot_source>0  && dot_target>0)
          						{
          							var x_source= position_source.slice(0,dot_source);
          							var xFloat_source = parseFloat(x_source);
          							var x_target= position_target.slice(0,dot_target);
          							var xFloat_target = parseFloat(x_target);
          							return ((xFloat_source + xFloat_target)/2 + "px");
          						}
          					}/*]]>*/
          			    	return ((d.source.x + d.target.x)/2 + 40 + "px");
       			      })
       			      .style("top", function(){
      					var position_source = window.sessionStorage.getItem(d.source.id);
      					var position_target = window.sessionStorage.getItem(d.target.id);
						/*<![CDATA[*/   //这句话不是注释，作用是thymeleaf不能解析&&,因此需要加上这句话
        					if(position_source != null && position_target != null)
        					{
        						var dot_source = position_source.indexOf(",");
        						var dot_target = position_target.indexOf(",");

        						if(dot_source>0 && dot_target>0)
        						{
        							var y_source= position_source.slice(dot_source+1);
        							var yFloat_source = parseFloat(y_source);
        							var y_target= position_target.slice(dot_target+1);
        							var yFloat_target = parseFloat(y_target);
        							return ((yFloat_source + yFloat_target)/2 + "px");
        						}/*]]>*/
        					}
        			    	return ((d.source.y + d.target.y)/2 + "px");
     			      })
        			  .transition()
        			  .duration(500)
        			  .style("opacity", .9);

        			  linkInfo.select(".head").text(d.source.id + "(" + d.src_port + ")" + "  ---->  " + d.target.id + "(" + d.dst_port + ")");
        			};
        			topology.mouseoutLinkHandler = function(d) {
        			  linkInfo
        			  .style("opacity", 0)
        			  .style("display", "none");
        			};

        			topology.dblclickNodeHandler = function(d) {
        			  d.fixed = (!d.fixed);
        			  nodeInfo.classed("locked", d.fixed);
        			  d3.select(this).classed("fixed", d.fixed);
        			  // topology.force.stop();
        			};

        			topology.mouseoverNodeHandler = function(d) {
        			  if (nodeInfo.classed("locked")) return;
        			  if (d.type_output == "host"){   //只有主机才显示信息
            			nodeInfo
          			    .style("display", "block")
          			    .style("left", function(){
          					var position = window.sessionStorage.getItem(d.id);
          					if(position != null)
          					{
          						var dot = position.indexOf(",");
          						/*<![CDATA[*/   //这句话不是注释，作用是thymeleaf不能解析&&,因此需要加上这句话
          						if(dot>0 && dot<position.length)
          						{
          							var x= position.slice(0,dot);
          							var xFloat = parseFloat(x);
          							return ((xFloat + 60) + "px");
          						}/*]]>*/
          					}
          			    	return ((d.x + 60) + "px");
          			    })
          			    .style("top", function(){
          					var position = window.sessionStorage.getItem(d.id);
          					if(position != null)
          					{
          						var dot = position.indexOf(",");
          						/*<![CDATA[*/   //这句话不是注释，作用是thymeleaf不能解析&&,因此需要加上这句话
          						if(dot>0 && dot<position.length)
          						{
          							var y= position.slice(dot+1);
          							var yFloat = parseFloat(y);
          							return ((yFloat - 10) + "px");
          						}/*]]>*/
          					}
          			    	return ((d.y - 10) + "px");
          			    })
          			    .transition()
          			    .duration(500)
          			    .style("opacity", .9);

        				nodeInfo.select(".head").text(d.id);
	        			nodeInfo.select(".rip").text(d.rip);
	        			nodeInfo.select(".port").text(d.port);
	        			nodeInfo.select(".rmac").text(d.rmac);
	        			nodeInfo.select(".vip").text(d.vip);
	        			nodeInfo.select(".vip_time").text(d.vip_time);
	        			nodeInfo.select(".vdomain").text(d.vdomain);
	        			nodeInfo.select(".vdomain_time").text(d.vdomain_time);
	        			nodeInfo.select(".type_output").text(d.type_output);
	        			nodeInfo.select(".create_time").text(d.create_time);
        			  }
        			};

        			topology.mouseoutNodeHandler = function(d) {
        			  if (nodeInfo.classed("locked")) return;
        			  nodeInfo
        			    .style("opacity", 0)
        			    .style("display", "none");
        			};

        			topology.init(data);
        		},
        		error:function(){
        			layer.alert("请求超时!");
        		},
                complete: function(){
                    console.log("加载完成1111");
        		    if(loading){
                        console.log("加载完成2222");
        		        layer.close(loading);
                    }
//                    console.log("数据222：："+tag);
//                    if(1!=tag)
//                    layer.close(maskObj);
                    // $btn.data("loading",false);
                }
        	})
        };

//layer.alert("请求超时！")
    
    </script>
</head>
<body>
<main>
<div id="container" style="margin-left:0px;">
    <svg id="topology_svg" >
      <def>
        <marker orient="auto" markerHeight="30" markerWidth="30" refY="15" refX="-35" id="markerStart"  markerUnits="userSpaceOnUse"><circle cy="15" cx="15" r="8"></circle></marker>
        <marker orient="auto" markerHeight="30" markerWidth="30" refY="15" refX="65" id="markerEnd" markerUnits="userSpaceOnUse"><circle cy="15" cx="15" r="8"></circle></marker>
      </def>
    </svg>
</div>

  <div id="nodeInfo" class="tooltip">
    <ul>
      <li>真实IP : <span class="rip"></span></li>
      <li>真实Mac : <span class="rmac"></span></li>
      <li>虚拟IP : <span class="vip"></span></li>
      <li>虚拟IP跳变时间 : <span class="vip_time"></span></li>
      <li>虚拟域名 : <span class="vdomain"></span></li>    
      <li>虚拟域名跳变时间 : <span class="vdomain_time"></span></li>
      <!--  <li>终端类型 : <span class="type_output"></span></li>   
      <li>端口数量 : <span class="port"></span></li>   
      <li>创建时间 : <span class="create_time"></span></li>   -->       
    </ul>
  </div>
  <div id="linkInfo" class="tooltip">
    <ul>
      <li> <span class="head"></span></li>
    </ul>
  </div>
     <script type="text/javascript" color="255,192,203" opacity="0.9" zindex="-1" count="400" src="/static/js/canvas-nest.min.js"></script>
</main>
</body>
</html>